@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #c5e0f4;
}

.logo {
    width: 120px;
    height: 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: aquamarine;
}

.hola {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.hola span {
    display: block;
    background-color: black;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.enlaces_menu {
    display: flex;
    padding: 0;
}

.enlaces_menu li {
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
}

.enlaces_menu li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
}

.enlaces_menu li:hover {
    background-color: blue;
}

/* Responsive */

@media (max-width:768px){
    body{
        overflow: hidden;
    }

    .logo{
        padding-left: 25px;
    }

    .hola{
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .enlaces_menu{
        background-color: blueviolet;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .enlaces_menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

}

@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}

.enlaces_menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.br_1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br_2.animado {
    opacity: 0;
}

.br_3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
}