@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Menu */

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ffffff;
}

.logo {
    width: 120px;
    height: 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #a0c5f7;
}

.hola {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.hola span {
    display: block;
    background-color: black;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.enlaces_menu {
    display: flex;
    padding: 0;
}

.enlaces_menu li {
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
    height: 8vh;
    align-items: center;
    box-sizing: border-box;
    display: flex;
}

.enlaces_menu li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    line-height: 8vh
}

.enlaces_menu li:hover {
    background-color: #6a9cde;
}

ul {
    margin: 0;
}


/* Menu Responsive */

@media (max-width:768px){
    body{
        overflow: hidden;
    }

    .logo{
        padding-left: 25px;
    }

    .hola{
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .enlaces_menu{
        background-color: #a0c5f7;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .enlaces_menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

}

@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}

.enlaces_menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.br_1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br_2.animado {
    opacity: 0;
}

.br_3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
}

/* Estilos de los form */

.card {
    margin: 30px auto;
    height: 100%;
    display: flex;
    max-width: 400px;
    border: #a5c9f7 solid;
    border-radius: 20px;
    background-color: #e8f0fb;

}

form{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

.heading h2{
    font-size: 2.1rem;
    font-weight: 600;
    color: #151111;
}

.input-wrap{
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.input-field{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #000000;
    transition: 0.4s;
}

label{
    position: absolute;
    left: 0;
    top: -45%;
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
}

.sign-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.sign-btn:hover{
    background-color: #6a9cde;
}

.text{
    color: #bbb;
    font-size: 0.7rem;
}

.text a{
    color: #bbb;
    transition: 0.3s;
}

.text a:hover{
    color: #8371fd;
}

.buscar {
    display: block;
}

@media (max-width: 850px) {
  
    form {
      max-width: revert;
      padding: 1.5rem 2.5rem 2rem;
      transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    }
  
    .heading {
      margin: 2rem 0;
    }
  
    form.sign-up-form {
      transform: translateX(100%);
    }
  }
  
  @media (max-width: 530px) {
  
    .text-group h2 {
      font-size: 1.2rem;
    }
  
    form {
      padding: 1rem 2rem 1.5rem;
    }
  }


/* Estilos de las tablas */

.table-container {
    display: flex;
    justify-content: space-between;
}

.table-container table {
    width: 48%; /* Ajusta según sea necesario */
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container th, .table-container td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}